<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trywang.module_widget" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">

    </application>
</manifest>
